node_modules
.git/
.github/
.gitignore
.prettierrc
.prettierignore
credentials/
tests/
README.md
Makefile
LICENSE
build/
dist/
build_scripts/
.dockerignore
docker-compose.db.yml
docker-compose.dev.yml
docker-compose.stg.yml
docker-compose.prod.yml
.env.prod